<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>



<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Kategoriya</th>
    <th>Nomi</th>
    <th>Narxi</th>
    <th>Soni</th>
    <th>Rasmi</th>
    <th>Sotib olish</th>
  </tr>

  <a href="{% url 'add' %}" style="width:100px;height:100px">Mahsulot Qo'shish</a>
  <hr>
  <a href="{% url 'add_category' %}">Kategoriya qo'shish</a>
  
  <hr>
  {% for i in products %}
  <tr>
    <td> <a href="{% url 'update_product' i.id %}">{{ forloop.counter }}</td>
    <td>{{ i.category.name }}</td>
    <td>{{i.name}}</td>
    <td>{{ i.price }}</td>
    <td>{{ i.stock }}</td>
    {% if i.image %}
    <td><a href="{{ i.image }}"></a> <img src="{ i.image }" style="width: 40px; height: 40px" alt=""> </td>
    {% else %}
    <td>-</td>
    

    {% endif %}
    <td><button type="submit"><a href="{% url 'pay_book' %}">Sotib olish </a></button><td>
  </tr>
  {% endfor %}
</table>

    


</body>
</html>
